[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.2"
channels = "==2.0.2"
django-heroku = "*"
gunicorn = "*"
channels-redis = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with-social"]}


[dev-packages]

ipdb = "*"


[requires]

python_full_version = "3.6.4"
