{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    {% if object %}
        <h1 class="pt-5">{% trans "Edit campaign" %} {{ object.name }}</h1>
    {% else %}
        <h1 class="pt-5">{% trans "Create campaign" %}</h1>
    {% endif %}
    <div class="row pt-5">
        <div class="col-6">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons %}
                    <a href="{% url 'campaigns' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>


{% endblock %}
