{% extends "backoffice/base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="pt-5">{% trans "Campaigns" %}
        <a href="{% url 'campaign_create' %}" class="btn btn-primary ml-5" title="{% trans 'Add campaign' %}">
            <i class="fas fa-plus"></i>
        </a>
    </h1>
    <div class="row pt-5">
        <!-- Campaigns list -->
            <div class="d-flex flex-row mt-2">
                <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
                    {% for object in object_list %}
                        <li class="nav-item">
                            <a href="#{{ object.pk }}" class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" role="tab" aria-controls="{{ object.pk }}">{{ object.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content" style="width: 600px;">
                    {% for object in object_list %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ object.pk }}" role="tabpanel">
                            <div class="row">
                                <div class="col-4 mb-1" style="text-align: center;">
                                    <a href="{% url 'publication_create' object.pk %}" class="btn btn-primary" title="{% trans 'Add publication' %}" style="margin-top: 60px;">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <div class="mt-2">{% trans "NEW PUBLICATION" %}</div>
                                </div>
                                {% for publication in object.publications.all %}
                                    <div class="col-4 mb-2">
                                        <div class="" style="text-align: center;">{% if publication.name %}{{ publication.name }}{% else %}{{ publication.get_youtube_video_id }}{% endif %}</div>
                                        <a href="{% url 'tagvideo_create' publication.pk %}">
                                            <img src="{{ publication.get_youtube_thumbnail }}" style="width: 200px;"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </tbody>
</div>

{% endblock %}
