{% extends "backoffice/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}
<h1 class="text-center pt-5">{% trans "Welcome to Miwo!" %}</h1>
<h2 class="text-center pt-5">{% trans "Miwo is the smartest way to connect your clients to their influencer's audience" %}</h2>

{% comment Google authentification %}
{% if not user.is_authenticated %}
<div class="text-center pt-5">
    <a href="{% provider_login_url 'google' process='login' action='reauthenticate' %}" class="btn btn-outline-danger">
        <i class="fab fa-google mr-3"></i>
        {% trans "Sign in with Google" %}
    </a>
</div>
{% endif %}
{% endcomment %}

{% endblock %}
