{% extends "backoffice/base.html" %}

{% load static i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    {% if not user.is_authenticated %}
    <h1 class="text-center pt-5"><b>{% trans "INFLUENCER" %}</b></h1>
    <h2 class="text-center pt-5"><b>{% trans "Login to your social network(s)" %}</b></h2>
    <h4 class="text-center">{% trans "In this version, SmartLinks are only available for Youtube videos" %}</h4>

    <div class="row justify-content-center pt-5 mt-5">
        <table>
            <tr>
                <td class="text-center signup-logo pb-5"><img src="{% static 'images/instagram-logo.png' %}" height="100" /></td>
                <td class="text-center signup-logo pb-5"><img src="{% static 'images/facebook-logo.png' %}" height="100" /></td>
                <td class="text-center signup-logo pb-5"><img src="{% static 'images/youtube-logo.png' %}" height="50" /></td>
                <td class="text-center signup-logo pb-5"><img src="{% static 'images/blog-logo.png' %}" height="100" /></td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="" class="btn btn-outline-warning disabled">
                        <i class="fab fa-instagram mr-3"></i>
                        {% trans "Sign in with Instagram" %}
                    </a>
                </td>
                <td class="text-center">
                    <a href="" class="btn btn-outline-primary disabled">
                        <i class="fab fa-facebook mr-3"></i>
                        {% trans "Sign in with Facebook" %}
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% provider_login_url 'google' process='login' action='reauthenticate' %}" class="btn btn-outline-danger">
                        <i class="fab fa-google mr-3"></i>
                        {% trans "Sign in with Google" %}
                    </a>
                </td>
                <td class="text-center">
                    <a href="" class="btn btn-outline-secondary disabled">
                        {% trans "Register" %}
                    </a>
                </td>
            </tr>
        </table>
    {% endif %}

    {% comment classic authentification %}
    {% if not user.is_authenticated %}
    <h1 class="text-center pt-5">{% trans "Welcome to Miwo!" %}</h1>
    <h2 class="text-center pt-5">{% trans "Miwo is the smartest way to connect your clients to their influencer's audience" %}</h2>
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-6">
            <p>{% trans 'If you already have an account, then please' %}
            <a href="{% url 'account_login' %}">{% trans 'login' %}</a></p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    {% bootstrap_field form.email show_label=False form_group_class="col-11" placeholder="Enter your professionnal email address" %}
                    <div class="col-1">
                        <button class="btn btn-primary" type="submit">{% trans "Go" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% endcomment %}
</div>

{% endblock %}
