{% extends "backoffice/base.html" %}

{% load static i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <div class="text-center pt-3">
        <img src="{% static 'images/Miwo_Logo.png' %}" height="213" alt="Miwo Logo">
    </div>
    <div class="text-center pt-2">
        <img src="{% static 'images/Miwo_Name.png' %}" height="50" alt="Miwo">
    </div>
    <h1 class="text-center pt-5">{% trans 'Welcome to the Miwo test platform' %}</h1>
    <h2 class="text-center pt-3">{% trans 'Miwo allow you to tag all the products you are talking about on all your social networks' %}</h2>
    <h2 class="text-center">{% trans 'Your community will be able to retrieve them in the Miwo application, memorize, share and buy.' %}</h2>
    <h1 class="text-center pt-5">{% trans 'For testing, only Youtube is available' %}</h1>

    <div class="row justify-content-center pt-3">
        <div class="row justify-content-center">
            <a href="{% url 'index2' %}" class="btn btn-primary" style="width: 150px;">
                {% trans 'Start' %}
            </a>
        </div>
    </div>
</div>

{% endblock %}
