{% extends "backoffice/base.html" %}

{% load static i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <div class="text-center pt-3">
        <img src="{% static 'images/Miwo_Brand.png' %}" height="80" class="d-inline-block align-top" alt="">
    </div>
    <h2 class="text-center pt-3"><b>Welcome to Miwo</b></h2>
    <h5 class="text-center">Miwo is the smartest way to increase your follower’s engagement and generate sales</h5>
    <h5 class="text-center">Our <b>SmartLink</b> technology allows you to embed a simple call to action inside your posts ... explain</h5>
    <h3 class="text-center pt-3"><b>{% trans "Are you an influence marketing platform, an agency, an influencer?" %}</b></h3>

    {% if not user.is_authenticated %}
    <div class="row justify-content-center pt-5">
        <div class="col-6">
            <div class="row">
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-kind disabled" title="{% trans 'Platform' %}">
                        <i class="fas fa-address-book fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'PLATFORM' %}</span>
                    </div>
                </div>
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-kind disabled" title="{% trans 'Agency' %}">
                        <i class="fas fa-building fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'AGENCY' %}</span>
                    </div>
                </div>
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'index2' %}" class="btn btn-primary btn-kind pl-2" title="{% trans 'Influencer' %}">
                        <i class="fas fa-user fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'INFLUENCER' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
