{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    <h1 class="pt-5">{% trans "Delete product" %}</h1>
    <div class="row pt-5">
        <div class="col-6">
            <form class="form" method="POST" action="{% url 'product_delete' object.pk %}">
                {% csrf_token %}
                {% trans "Are you sure you want to delete product " %}{{ object.name }}?
                {% buttons %}
                    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>


{% endblock %}
