{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}
{% load cloudinary %}

{% block content %}
<div class="container">
    {% if object %}
        <h1 class="pt-5">{% trans "Edit smartlink" %} {{ product.name }}</h1>
    {% else %}
        <h1 class="pt-5">{% trans "Create smartlink" %}</h1>
    {% endif %}
    <div class="row pt-5">
        <div class="col-6">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.user %}
                {% bootstrap_field form.name show_label=False %}
                {% bootstrap_field form.description show_label=False %}
                {% bootstrap_field form.price show_label=False %}
                {% bootstrap_field form.date_from show_label=True layout="horizontal" %}
                {% bootstrap_field form.date_to show_label=True layout="horizontal" %}
                {% bootstrap_field form.referal_action show_label=False %}
                {% bootstrap_field form.referal_link show_label=False %}
                {% buttons %}
                    <a href="{% url 'products' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                {% endbuttons %}
            </form>
        </div>
        {% if object %}
        <div class="col-6">
            {% for product_image in object.images.all %}
                <span class="img-btn">
                    {% cloudinary product_image.image width=150 height=150 crop="fill" %}
                    <a class="btn btn-outline-secondary" href="{% url 'product_image_delete' object.pk product_image.pk %}">
                        <i class="fas fa-times"></i>
                    </a>
                </span>
            {% endfor %}
            <form class="form pt-3" method="POST" action="{% url 'product_image_create' object.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="row">
                    {% bootstrap_form image_form layout='horizontal' %}
                    <span class="float-right ml-5">
                        <button class="btn btn-primary" type="submit">
                            {% trans "Upload" %}
                        </button>
                    </span>
                </span>
            </form>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}
