{% extends "backoffice/base.html" %}

{% load static i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <div class="text-center pt-3">
        <img src="{% static 'images/Miwo_Logo.png' %}" height="213" alt="Miwo Logo">
    </div>
    <div class="text-center pt-2">
        <img src="{% static 'images/Miwo_Name.png' %}" height="50" alt="Miwo">
    </div>
    <h1 class="text-center pt-5">{% trans "Choose the video to tag" %}</h1>
    <h2 class="text-center pt-3">{% trans 'Miwo uses "smartlinks" to tag your products' %}</h2>

    <form class="form" method="POST" action="">
        <div class="row justify-content-center pt-5 mt-5">
            {% csrf_token %}
            {% bootstrap_field form.campaign %}
            <div class="form-group col-4">
                <i class="fab fa-youtube fa-2x" style="color: red;"></i>
                <button type="button" class="form-control col-10 float-right btn btn-danger" data-toggle="modal" data-target="#YTvideoList-{{ form.campaign.value }}">{% trans "Choose a video" %}</button>
            </div>
        </div>
    </form>
</div>

{% include "backoffice/partials/youtube_videos_choice.html" with campaign=form.campaign.value %}

{% endblock %}
