{% extends "backoffice/base.html" %}

{% load static i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <div class="text-center pt-3">
        <img src="{% static 'images/Miwo_Logo.png' %}" height="213" alt="Miwo Logo">
    </div>
    <div class="text-center pt-2">
        <img src="{% static 'images/Miwo_Name.png' %}" height="50" alt="Miwo">
    </div>
    <h1 class="text-center pt-5">{% trans "Perfect, now name your campaign" %}</h1>
    <h2 class="text-center pt-3">{% trans "For the campaign name, you can use the name of the opération of the brand you work for or a title for your post (ex: Lookbook 2018, My favorite hotel, Make up tutorial, etc.)" %}</h2>

    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-6">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    {% bootstrap_field form.user %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_field form.name show_label=False form_group_class="col-11" placeholder="Campaign name" %}
                <div class="col-1">
                    <button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
