{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">{% trans "Create a publication" %}</h1>
    <h2 class="text-center pt-5">{% trans "Enter your influencer content information" %}</h2>

    <form class="form" method="POST" action="">
        <div class="row justify-content-center pt-5 mt-5">
            {% csrf_token %}
            {% bootstrap_field form.campaign %}
            <div class="col-4">
                <i class="fab fa-youtube fa-2x" style="color: red;"></i>
                {% bootstrap_field form.url show_label=False form_group_class="col-10 float-right" placeholder="Video url" %}
            </div>
            <!-- Fake social networks -->
            <div class="form-group col-4">
                <i class="fab fa-facebook fa-2x" style="color: blue;"></i>
                <input type="text" class="form-control col-10 float-right" placeholder="Facebook post" disabled="true">
            </div>
            <div class="form-group col-4">
                <i class="fab fa-instagram fa-2x" style="color: orange;"></i>
                <input type="text" class="form-control col-10 float-right" placeholder="Instagram post" disabled="true">
            </div>
            <button class="btn btn-primary mt-5" type="submit">{% trans "Next" %}</button>
        </div>
    </form>
</div>

{% endblock %}
