{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">{% trans "Cool! Let us know a little more about you:" %}</h1>
    <h2 class="text-center pt-5">{% trans "Are you an influence marketing platform, an agency, an influencer?" %}</h2>

    {% if not user.is_authenticated %}
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-6">
            <div class="row">
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-kind disabled" title="{% trans 'Platform' %}">
                        <i class="fas fa-address-book fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'PLATFORM' %}</span>
                    </div>
                </div>
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-kind disabled" title="{% trans 'Agency' %}">
                        <i class="fas fa-building fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'AGENCY' %}</span>
                    </div>
                </div>
                <div class="row col-4 justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-kind pl-2" title="{% trans 'Influencer' %}">
                        <i class="fas fa-user fa-5x"></i>
                    </a>
                    <div class="mt-2">
                        <span>{% trans 'INFLUENCER' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
