{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    <h1 class="pt-5">{% trans "Tags" %}</h1>
    <div class="row pt-5">
        <!-- Video -->
        <div class="col-4">
            <iframe id="ytplayer" type="text/html" width="350" height="250" src="{{ publication.get_youtube_embed_url }}" frameborder="0"></iframe>
        </div>
        <!-- Tag -->
        <div class="col-4">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons %}
                    <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
                {% endbuttons %}
            </form>
        </div>
        <!-- Tags list -->
        <div class="col-4">
            <table class="table">
              <thead>
                <tr class="row">
                  <th class="col-9">{% trans 'Timestamp' %}</th>
                  <th class="col-3"></th>
                </tr>
              </thead>
              <tbody>
                    {% for tag in tags_list %}
                        <tr class="row">
                            <td class="col-9">{{ tag.timestamp|time:'H:i:s' }}</td>
                            <td class="col-3">
                                <form method="POST" action="{% url 'tagvideo_delete' tag.pk %}" %}">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                   </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </tbody>
</div>

{% endblock %}
