{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">{% trans "Add a new smartlink" %}</h1>
    <div class="row pt-5">
        <!-- Video -->
        <div class="col-4">
            <div id="ytplayer"></div>
        </div>
        <!-- Tag -->
        <div class="col-4">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form show_label=False %}
                <!-- Button trigger modal -->
                {% trans 'Or' %}
                <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#productCreationModal">
                  {% trans 'create one' %}
                </button>
                <div class="mt-5">
                    <button class="btn btn-primary" type="submit">{% trans "Add smartlink" %} &raquo;</button>
                </div>
            </form>
        </div>
        <!-- Tags list -->
        <div class="col-4">
            <table class="table">
              <thead>
                <tr class="row">
                  <th class="col-5">{% trans 'Smartlinks list' %}</th>
                  <th class="col-5"></th>
                  <th class="col-2"></th>
                </tr>
              </thead>
              <tbody>
                    {% for tag in tags_list %}
                        <tr class="row">
                            <td class="col-5">{{ tag.timestamp|time:'H:i:s' }}</td>
                            <td class="col-5">{{ tag.product.name }}</td>
                            <td class="col-2">
                                <form method="POST" action="{% url 'tagvideo_delete' tag.pk %}" %}">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                   </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </tbody>
</div>

<!-- Product creation modal -->
<div class="modal fade" id="productCreationModal" tabindex="-1" role="dialog" aria-labelledby="productCreationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Create smartlink' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="product-create-form" class="form" method="POST" action="{% url 'product_create_ajax' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {% bootstrap_form product_create_form show_label=False %}
                </div>
                <div class="col-6">
                    {% bootstrap_form image_form show_label=False %}
                    {% comment %}
                    {{ image_formset.management_form }}
                    {% for image_form in image_formset %}
                        {% bootstrap_form image_form show_labels=False %}
                    {% endfor %}
                    {% endcomment %}
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary" id="btn-product-create" form="product-create-form">{% trans 'Next' %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
// Product creation form
$("#product-create-form").on("submit", function( event ) {
    event.preventDefault();

var formData = new FormData($("#product-create-form")[0]);
$.ajax({
    url: "{% url 'product_create_ajax' %}",
    type: "POST",
    data: formData,
    processData: false,
    contentType: false,

    success: function (data) {
        if (data.product_pk != "") {
            // Add new product to products list
            $('#id_product').append($('<option>', {
                value: data.product_pk,
                text: data.product_name
            }));
        }
        $('#productCreationModal').modal('toggle');
    }
});

    /*
    var test = $( "#product-create-form" ).serialize();
    $.post(
        "{% url 'product_create_ajax' %}",
        $( "#product-create-form" ).serialize()
    ).done(function(data){
        if (data.product_pk != "") {
            // Add new product to products list
            $('#id_product').append($('<option>', {
                value: data.product_pk,
                text: data.product_name
            }));
        }
    });
    */

});

// Link between Youtube video and Timestamp field
function convert(seconds) {
    seconds = Number(seconds);
    var hours = Math.floor(seconds / 3600);
    var minutes = Math.floor(seconds % 3600 / 60);
    var seconds = Math.floor(seconds % 3600 % 60);
    hours = (hours == 0 ? "00": (hours < 10 ? "0" : "") + hours)
    minutes = (minutes == 0 ? "00": (minutes < 10 ? "0" : "") + minutes)
    seconds = (seconds == 0 ? "00": (seconds < 10 ? "0" : "") + seconds)
    return (hours + ":" + minutes + ":" + seconds);
}

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '250',
      width: '350',
      videoId: '{{ publication.get_youtube_video_id }}',
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var yt_timer;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
      yt_timer = setInterval(getVideoTime, 100);
    }
    else {
      clearTimeout(yt_timer);
    }
  }
  function getVideoTime() {
    seconds = player.getCurrentTime();
    $("#id_timestamp").val(convert(seconds));
  }
{% endblock %}
