.img-btn {
  position: relative;
}

.img-btn .btn {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(112px, -65px);
    color: red;
    border-color: red;
}

.btn-kind {
    width: 100px;
    height: 100px;
}

#productCreationModal .modal-content {
    width: 750px;
}