{% load i18n %}

<!-- Youtube videos list -->
<div class="modal fade YTvideoList" id="YTvideoList-{{ campaign }}" tabindex="-1" role="dialog" aria-labelledby="YTvideoListLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Choose a video' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            {% for video in youtube_videos %}
            <div class="col-4 mb-2">
                <form method="POST" action="{{ form_url }}">
                    {% csrf_token %}
                    <input type="hidden" name="campaign" id="id_campaign" value="{{ campaign }}">
                    <input type="hidden" name="url" id="id_url" value="https://www.youtu.be/{{ video.id }}">
                    <input type="hidden" name="name" id="id_name" value="{{ video.name }}">
                    <button type="submit" class="border-0 p-0">
                        <img src="{{ video.thumbnail_url }}" style="width: 200px;"/>
                    </button>
                    {{ video.name }}
                </form>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        {% comment %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary" id="btn-product-create" form="product-create-form">{% trans 'Next' %}</button>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
