{% extends "backoffice/base.html" %}

{% load i18n bootstrap4 %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center pt-5">{% trans "Now enter your account informations" %}</h1>
    <h2 class="text-center pt-5">{% trans "Your username will be displayed to your followers" %}</h2>

    {% if not user.is_authenticated %}
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-6">
          <form class="signup" id="signup_form" method="post" action="">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.email %}
            {% bootstrap_field form.username show_label=False %}
            {% bootstrap_field form.password1 show_label=False %}
            {% bootstrap_field form.password2 show_label=False %}
            {% buttons %}
              <button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
            {% endbuttons %}
          </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}